<!doctype html>
<html lang="{{ meta.lang }}">
  <head>
    {% include "head.njk" %}
  </head>
  <body class="{% if page.url == '/' %}home {% endif %}{% if 'posts' in tags %}post{% endif %}">
    <nav class="site-nav">
      <a class="nav-logo" href="/"><img src="/assets/name.png" alt="Tris Sherliker"></a>
      <span class="nav-links">
        <a href="/">Home</a>
        <a href="/media">Media</a>
        <a href="/blog">Blog</a>
        <a href="/search">Search</a>
      </span>
    </nav>
    <article>
      <h1>{{ title | markdownInline | safe }}</h1>
      {% if subtitle %}<p class="subtitle">{{ subtitle | markdownInline | safe }}</p>{% endif %}
      {{ content | safe }}
    </article>
    {% include "footer.njk" %}
  </body>
</html>
